/* Overall Stylings */
body {
  background-color: silver;
}

/* Card Stylings */
.card {
  background-color: #0f471c;
  box-shadow: 4px 4px 5px rgb(121, 121, 121);
  border: 1px solid white;
  border-radius: 10px;
} .card-body {
  color: whitesmoke;
} .card-title {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
} 

/* Text Stylings */
.text-medium {
  font-size: 25px;
} .text-large {
  font-size: 50px;
}


/* Navigation */
.top-nav:hover {
  text-shadow: 0 0 10px #13b813;
  transition-duration: 300ms;
}
 

/* Footer */
.footer-lists {
  display: flex;
  justify-content: space-around;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 5px 5px 50px gray;
  border-top: 1px solid black;
} .lists {
  color: lightgray;
} .lists a {
  color: white;
  text-decoration: none;
} .lists a:hover {
  color: #13b813;
  transition-duration: 500ms;
} footer ul {
  margin: 0%;
  padding: 0%; 
}

/* Mobile Friendly*/
@media screen and (max-width: 576px) {
    
}  
