/* Overall Stylings */
body {
  background-color: silver;
} .white-border {
  border: 1px solid white;
}


/* Card Stylings */
.card {
  background-color: #0f471c;
  box-shadow: 4px 4px 5px rgb(121, 121, 121);
  border: 1px solid white;
  border-radius: 10px;
} .card-body {
  color: whitesmoke;
} .card-title {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
} 

/* Text Stylings */
.text-medium {
  font-size: 25px;
} .text-large {
  font-size: 50px;
} .text-medium-lg {
  font-size: 35px;
} .text-small {
  font-size: 20px;
}


/* Navigation */
.top-nav:hover {
  text-shadow: 0 0 10px #13b813;
  transition-duration: 300ms;
}
 

/* Footer */
.footer-lists {
  display: flex;
  justify-content: space-around;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 5px 5px 50px gray;
  border-top: 1px solid black;
} .lists {
  color: lightgray;
} .lists a {
  color: white;
  text-decoration: none;
} .lists a:hover {
  color: #13b813;
  transition-duration: 500ms;
} footer ul {
  margin: 0%;
  padding: 0%; 
}

/* Mobile Friendly*/
#top-mid-container {
  justify-content: space-between;
  display: flex;
} .mid-cards {
  width: 80%;
} .bottom-card {
  width: 90.3%;
} #bottom-container {
  display: flex;
}


  
@media screen and (max-width: 1199px) {
  #top-mid-container {
    justify-content: none;
    display: block;
  } #mid-right-sec {
    margin-top: 20px;
  } .mid-cards {
    width: 90%;
  } .bottom-card {
    width: 90%;
  } #bottom-container {
    display: block;
  }
    
}  

@media screen and (max-width: 500px) {
  .text-medium {
    font-size: 15px;
  } .text-large {
    font-size: 40px;
  } .text-medium-lg {
    font-size: 25px;
  } .text-small {
    font-size: 12px;
  }
}

@media screen and (max-width: 410px) {
  #starters {
    overflow: scroll;
  } #teams {
    overflow: scroll;
  } #trades {
    overflow: scroll;
  }
}