/* Overall Styling */
body {
  background-color: #0f471c;
  min-height: 100%;
} html{
  height: 100%;
}

/* Extra Font CSS */
.text-medium {
  font-size: 25px;
} .text-large {
  font-size: 50px;
}


/* Card CSS */
.card-footer {
  background-color: silver;
} .card-body {
  background-image: url(./Images/Main\ Football\ Field\ Picture.png);
} .card-text {
  color: whitesmoke;
} .card-title {
  font-style: italic;
  color: rgb(255, 255, 255);
  text-shadow: black;
} .card-header {
  background-color: rgb(255, 255, 255,.25);
} .card {
  box-shadow: 4px 4px 40px black;
} .text-input {
  height: 50px;
  resize: none;
}


/* Header */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 20%;
} .header-img {
  height: 200px;
} #header-home {
  width: fit-content;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}
 
  
/* Footer */
footer {
  background-color: #343a40;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
}


/* Footer List */
.footer-lists {
  display: flex;
  justify-content: space-around;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 5px 5px 50px gray;
  border-top: 1px solid gray;
} .lists {
  color: lightgray;
} .lists a {
  color: white;
  text-decoration: none;
} .lists a:hover {
  color: #13b813;
  transition-duration: 500ms;
} footer ul {
  margin: 0%;
  padding: 0%; 
}
